SECRET_KEY=some_symbols
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1 web
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432